@using App.Domain.Core.RequestEntity.DTOs
@using App.Domain.Core._0_BaseEntities.Enums
@using Framework
@model List<CustomerRequestDto>
@{
    Layout = "_CustomerProfileLayout";
    TempData["Title"] = "درخواست های فعال";
}


<div class="col-xl-12 col-lg-12">
    <div class="dashboard-list-wraps bg-white rounded mb-4">
        <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
            <div class="dashboard-list-wraps-flx">
                <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-file-alt ms-2 theme-cl fs-sm"></i>درخواست های من</h4>
            </div>
        </div>

        <div class="dashboard-list-wraps-body py-3 px-3">
            <div class="dashboard-listing-wraps">

                @foreach (var request in Model)
                {
                    <div class="dsd-single-listing-wraps mb-5">
                        <div class="dsd-single-lst-thumb"><img src="~/assetsHomePage/img/c-4.jpg" class="img-fluid" alt=""></div>
                        <div class="dsd-single-lst-caption">
                            <div class="dsd-single-lst-title"><h5>@request.ServiceTitle</h5></div>
                            <div class="ico-content">
                                <div class="Goodup-ft-first">
                                    <div class="Goodup-price-range">
                                        <span>@request.CreateDateFa</span>
                                    </div>
                                </div>
                                <div class="Goodup-price-range">
                                    <span>@request.Status.GetEnumDisplayName()</span>
                                </div>
                            </div>
                            <div class="dsd-single-lst-footer">
                                <button class="btn btn-primary me-1" type="button" data-bs-toggle="collapse" data-bs-target="#@("collapse-" + request.RequestId)" aria-expanded="false" aria-controls="@("collapse-" + request.RequestId)">پیشنهاد ها</button>
                                <div class="collapse" id="@("collapse-" + request.RequestId)">
                                    <div class="d-grid d-sm-flex p-3 border">
                                        @if (!request.Bids.Any())
                                        {
                                            <span class="lh-1">پیشنهادی ندارید!</span>
                                        }
                                        else
                                        {
                                            <table class="table">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th>نام متخصص</th>
                                                        <th>توضیحات</th>
                                                        <th>تاریخ پیشنهادی</th>
                                                        <th>قیمت پیشنهادی</th>
                                                        <th>عملیات</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-border-bottom-0">
                                                    @foreach (var bid in request.Bids)
                                                    {
                                                        <tr>
                                                            <td>@bid.ExpertFullName</td>
                                                            <td>@bid.Description</td>
                                                            <td>@bid.FinishedAtFa</td>
                                                            <td>@bid.Price</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-primary" asp-action="GetExpertComments" asp-route-expertId="@bid.ExpertId">دیدن امتیاز کارشناس</a>
                                                                @if (request.Status == Status.WaitingForChoosingExpert)
                                                                {
                                                                    <a class="btn btn-sm btn-success" asp-action="AcceptBid" asp-route-bidId="@bid.BidId" asp-route-requestId="@request.RequestId" asp-route-expertId="@bid.ExpertId">تایید پیشنهاد</a>
                                                                    @* @Html.ActionLink("تایید پیشنهاد", "AcceptBid", new { bidId = bid.BidId, requestId = request.RequestId }) *@
                                                                }
                                                                @if (bid.IsAccepted)
                                                                {
                                                                    <button class="btn btn-secondary disabled">تایید شده</button>
                                                                }
                                                                @if (request.Status == Status.RequestResponsed && request.Comment == null && bid.IsAccepted)
                                                                {
                                                                    <a class="btn btn-sm btn-warning mt-1" asp-action="WriteCommentForExpert" asp-route-requestId="@request.RequestId" asp-route-expertId="@bid.ExpertId">ثبت دیدگاه</a>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </div>
                            </div>
                            @if (request.Status == Status.AcceptExpert)
                            {
                                <a class="btn btn-sm btn-warning rounded" onclick="return confirm('تایید اتمام کار')" asp-action="FinishRequest" asp-route-requestId="@request.RequestId">اتمام درخواست</a>
                            }
                            <a asp-action="RemoveRequest" asp-route-id="@request.RequestId" onclick="return confirm('تایید حذف درخواست!')" class="btn btn-danger btn-sm rounded"><i class="fas fa-trash ms-1"></i>حذف</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>